
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
*{
    margin: 0;
    outline: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    --rotate: 30s;
    --inbox: 30s;
    --frst:rgba(35, 218, 193, 0.507);

}
html{
      height: 100%;
      overflow: hidden;
}
body{
      width: 100%;
      height: 100%;
      background-color: rgb(0, 0, 0);
      overflow: hidden; 
}
#flex{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 20px;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      perspective: 750px;
      perspective-origin: 50% calc(50% - 50px);
      overflow: hidden; 
}
#center{
      position: relative; 
      transform-style: preserve-3d;
      transform: rotateY(90deg);
      
}

#center001{

      position: absolute; 
      transform-style: preserve-3d;
      transform: rotateX(-20deg);
     
}
#center.active{
   animation: rotator var(--rotate) infinite linear;
}
      @keyframes rotator {
           to{
                  
                  transform: rotateY(90deg) rotateY(360deg);
            }
      }

#cube{

    position: absolute;
    width: 120px;
    height: 120px;
    
    transform: translate(-50%,-50%);
    top: -2px;
    transform-style: preserve-3d; 
}
#left,#right,#right0,#front,#back,#back0,#front0{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(29, 122, 145);
    box-shadow: 0px -8px 0px 0px #000  inset;
   
    
}
#front{
      transform:translateZ(59.6px);
      background-color:rgb(28, 114, 136);

          box-shadow: 0px 0px 15px 1px #000  inset;
    background-image:
     repeating-conic-gradient(
           from 45deg , 
           rgb(44, 63, 233) 0deg 20deg , 
           rgb(207, 132, 19) 20deg 150deg
           ) ;
    background-size: 10px 10px;
}
#front0{
      transform:translateZ(59.8px);
      background-color:rgb(28, 114, 136);
}
#right{
      transform: rotateY(90deg) translateZ(59.1px);


    box-shadow: 0px 0px 15px 1px #000  inset;
    background-image:
     repeating-conic-gradient(
           from 45deg , 
       rgb(44, 63, 233) 0deg 20deg , 
           rgb(207, 132, 19) 20deg 150deg
           ) ;
    background-size: 10px 10px;
}
#right0{
     transform: rotateY(90deg) translateZ(59.8px);
}
#left{

      height: 42%;
      transform: rotateY(270deg) translateZ(59.8px);
       box-shadow: none;
}
#back{
      transform:translateZ(-59.6px);
      background-color:rgb(28, 114, 136);



          box-shadow: 0px 0px 15px 1px #000  inset;
    background-image:
     repeating-conic-gradient(
           from 45deg , 
           rgb(44, 63, 233) 0deg 20deg , 
           rgb(207, 132, 19) 20deg 150deg
           ) ;
    background-size: 10px 10px;
}
#back0{
    transform:translateZ(-59.8px);
    background-color:rgb(28, 114, 136);
}
#bottom{
    position: absolute;
    width: 99%;
    height: 99%;
     background-color: rgb(145, 148, 106);
}

#top{
     
    position: absolute;
	border-top: 60px solid transparent ;
	border-left: 52px solid rgb(29, 122, 145);
	border-bottom: 60px solid transparent ;
    

    transform: translateY(-71%) translateX(-49%) rotateY(90deg) rotateZ(-90deg);  
    box-shadow: 0px 0px 15px 2px #000  inset;
}
#top0{
     
     position: absolute;
	border-top: 60px solid transparent ;
	border-left: 52px solid rgb(29, 122, 145);
	border-bottom: 60px solid transparent ;
    

    transform: translateY(-71%) translateX(180%) rotateY(90deg) rotateZ(-90deg);  
    box-shadow: 0px 0px 15px 2px #000  inset;
}
#bottom{

    
    transform:translateY(51%) rotateX(90deg);  
     display: flex;
     align-items: center;
     justify-content: center;
     transform-style: preserve-3d;
}
#ball{
      position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightblue;
    transform: translateZ(15px) rotateX(90deg) rotateY(90deg) ;
    
    background-image:linear-gradient( #000 ,50%,#0000 90%);
}
#ball.active{
      animation: inbox0 var(--inbox) infinite linear;
}
      @keyframes inbox0 {
           to{
                  transform:
                  translateZ(15px) rotateX(90deg)
                  rotateY(90deg) 
                  rotateY(360deg) ;
            }
      }
#floor{
    position: absolute;
    top: 60px;
    width: 650px;
    height: 650px;
    background-image:
     radial-gradient(rgba(0, 0, 0, 0) ,50%, #000 70%),
     repeating-conic-gradient(
           from 45deg , 
           #111 0deg 90deg , 
           #222 90deg 180deg
           );
    background-size: 100%, 50px 50px;
    transform: 
     translate(-50%,-50%)
     rotateX(90deg)
     ;
     z-index: 1;
     
}
#topfloar0,#topfloar1{
    position: absolute;
    width: 120%;
    height: 100%;
    background-color: rgb(117, 78, 33);
}
#topfloar0{
    transform: translateY(-61.5%) translateX(-10%) translateZ(45px) rotateX(49deg);  
        box-shadow: 0px 0px 15px 1px #000  inset;
    background-image:
     repeating-conic-gradient(
           from 45deg , 
           rgb(66, 55, 40) 0deg 20deg , 
           rgb(187, 96, 35)20deg 80deg
           );
    background-size: 10px 10px;
     border-radius: 0px 0px 5px 5px ;
}
#topfloar1{
    transform: translateY(-61.5%)  translateX(-10%) translateZ(-45px) rotateX(131deg);  
    box-shadow: 0px 0px 15px 1px #000  inset;
    background-image:
     repeating-conic-gradient(
           from 45deg , 
           rgb(66, 55, 40) 0deg 20deg , 
           rgb(187, 96, 35)20deg 80deg
           );
    background-size: 10px 10px;
    border-radius: 5px 5px 0px 0px ;
}
#fadj0{
      position: absolute;
    width: 35%;
    height: 70px;
    background-color: rgb(29, 122, 145);
    transform: translateY(50px);
     box-shadow: 0px -8px 0px 0px #000  inset;
}
#fadj1{
      
      position: absolute;
    width: 35%;
    height: 70px;
    background-color: rgb(29, 122, 145);
    transform: translateY(50px) translateX(78px);
     box-shadow: 0px -8px 0px 0px #000  inset;
}
#doorfr{
      position: absolute;
    width: 30%;
    height: 70px;
    background-color: transparent;
    transform: translateY(48px) translateX(42px);
     box-shadow: 0px 0px 0px 2px rgb(139, 67, 26)  inset;
}
#dorfx{
    position: absolute;
    width: 30%;
    height: 2px;
    background-color:#000;
    transform: translateY(118px) translateX(42px);
}
#airhole0,#airhole1{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(24, 2, 2, 0.699);
    box-shadow: 0px 0px 0px 2px rgb(139, 67, 26)  inset;
    left: 38%;
    top: -25px;
  
}
#bottomarea{
     position: absolute;
     top: -150px;
     left: -150px;
     width: 300px;
     height: 300px;
     background-color: rgb(29, 88, 37);
     transform: rotateX(90deg) translateZ(-59px);
     border-radius: 10px;
}






#inputcontainer0{
    position: absolute;
    bottom: 40px;
    left:25px;
    width: 250px;
    height: 15px;
    background-color: transparent;
    z-index: 2;
}
#inputcontainer1{
    position: absolute;
    bottom: 80px;
    left:25px;
    width: 250px;
    height: 15px;
    background-color: transparent;
    z-index: 2;
}
#inputcontainer2{
    position: absolute;
    bottom: 250px;
    right:-90px;
    width: 250px;
    height: 15px;
    background-color: transparent;
    z-index: 2;
    transform: rotateZ(90deg);
}
#inputcontainer0 input,#inputcontainer1 input,#inputcontainer2 input{
    position: absolute;
    width: 103%;
    border-radius: 5px;
}
#inputcontainer0 span,#inputcontainer1 span{
    color: white;
    position: absolute;
    bottom: 0px;
    right: -60px;
    z-index: 1;
    
}
#inputcontainer2 span{
        color: white;
    position: absolute;
    bottom: -65px;
    right: -45px;
        transform: rotateZ(-90deg);
        z-index: 3;
}
#slider,#slider1,#slider2{
    -webkit-appearance: none;
    width:100%;
    height:7px;
    outline: none;
    border-radius: 2px;
    
}
#slider::-webkit-slider-thumb,#slider1::-webkit-slider-thumb,#slider2::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 15;
    position: relative;
}
#selector,#selector1,#selector2{
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0px;

}
.selectbtn,.selectbtn1,.selectbtn2{
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 50%;
    z-index: 5;
    margin-left: -5px;
}
#sellll,#sellll1,#sellll2{
    position: absolute;
    bottom: 2px;
    width: 100%;
}
#footer01{

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: white;
    z-index: 100;
}
#by_by{
    position: absolute;
    top: 3px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
}
#sourcedrop{

    width: 130px;
    font-size: 15px;
    position: absolute;
    right: 0;
    bottom: 3px;
}
#source{
    position: relative;
    bottom: 8px;
    z-index: 1;
}
#sourcedropclick{
    position: absolute;
    top: 0;
    right: 0;
    height: 20px;
    width: 130px;
    cursor: pointer;

}
#sourcedropclick img{
    transform: rotateZ(180deg);
    position: relative;
    bottom: 2px;
    right: 2px;
    z-index: 1;
    transition: all .5s;
}
#ico.active{
    transform: rotateZ(0deg);
}
#clicksolve{
    position: absolute;
    width: 130px;
    height: 20px;
    background-color: transparent;
    top: 0;
    right:  0;
    z-index: 2;
}
#sourcedropclickcontainer{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 140px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all .5s;
}
#sourcedropclickcontainer.active{
    height: 150px;
    
}






